
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

@keyframes scale {

    0%{transform: scale(1);}
    100%{transform: scale(20);}
    
}

@media (min-width: 1024px) {

    html{
        text-align: center;
        min-height: 100%;
        font-family: 'Tajawal', sans-serif;
        /*
        background: linear-gradient(to top,#964747 1%, white 45%, white 450%);
        */
        overflow: scroll;
        padding-bottom: 10vw;
        background-image: url(../images/covid-bg.png);
        background-size: cover;
        
        
    }
    body{
        background-color: transparent;
    }
    #logo{
        max-width: 100px;
        margin-top: 50px;
        z-index: 9999999;
        transition: all;
        transition-duration: 200ms;
        animation-duration: 300ms;
    }
    #result_container{
        text-align: center;
        margin: auto;
        display: none;
    }
    h1{
        font-size: 2vw;
    }
    #result{
        text-align: center;
        margin: auto;
    }
    #loading{
        text-align: center;
        margin: auto;

    }
    #result_container img{
        margin: auto;
        text-align: center;
        max-width: 40%;
        filter: drop-shadow(5px 5px 5px black);
    }
    .res-bt{ 
        background-color: #964747;
        color: white;
    }

    #canvas2{

        max-width: 90%;
        margin: 0px auto;
        max-height: 300px;
        margin-bottom: 20px;

    }
    #canvas2 canvas{
        max-height: 300px;
        max-width: 100%;
    }
    .former{
       
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
        background-color: rgba(255, 255, 255,0.8);
        max-width: 30%;
        min-width: 30%;
        border-radius: 8px;
        
    }
    .sub{
        min-width: 30%;
        max-width: 30%;
        box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.6) ;
        background-color: #964747;
        color: white;

    }
    #recaptcha{
        display: inline-block;
    }
    
}






@media (max-width: 1023px) and (min-width: 0px) {

    html{
        text-align: center;
        font-family: 'Tajawal', sans-serif;
        min-height: 100%;
        overflow: scroll;
        /*
        background: linear-gradient(to top,#964747 1%, white 45%, white 450%);
        */
        background-image: url(../images/covid-bg.png);
        background-size: cover;
        padding-bottom: 20vw;
        
    }
    body{
        background-color: transparent;
    }
    h1{
        font-size: 5.5vw;
        margin-bottom: 2vw;
    }
    #logo{
        max-width: 100px;
        margin-top: 4vw;
        margin-bottom: 2vw;
        transition: all;
        transition-duration: 200ms;
        animation-duration: 500ms;
    }
    #result_container{
        text-align: center;
        margin: auto;
        display: none;
    }
    #result{
        text-align: center;
        margin: auto;
    }
    #loading{
        text-align: center;
        margin: auto;

    }
    #result_container img{
        margin: auto;
        text-align: center;
        max-width: 40%;
        filter: drop-shadow(5px 5px 5px black);
    }
    .res-bt{ 
        background-color: #964747;
        color: white;
    }

    #canvas2{

        max-width: 90%;
        margin: 0px auto;
        max-height: 300px;
        margin-bottom: 20px;

    }
    #canvas2 canvas{
        max-height: 300px;
        max-width: 100%;
    }

    .former{
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
        border-radius: 8px;
        max-width: 80%;
        min-width: 80%;
        background-color: rgba(255, 255, 255,0.8);
    }
    label{
        font-style: 0.5vw;
    }
    .sub{
        box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.6) ;
        background-color: #964747;
        color: white;
        max-width: 80%;
        min-width: 80%;
        
    }
    #recaptcha{
        display: inline-block;
    }
    

}